doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='../Public/css/menu.css', type='text/css' )
        script(src='../Public/js/menu.js' defer) )
    body     
        #imgMenu
            img#menuIcon.blockMenu(src='../Public/img/menu.png')
            img#menuIcon2.noneMenu(src='../Public/img/menu.png')
        #containerMenu
            ul#menuBurger.slide-bottom
                li  
                a(href='/createMovie') Crear Película
                li 
                a(href='/logout') Cerrar Sesión  