doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../Public/css/general.css')
    link(rel='stylesheet' href='../Public/css/dashboard.css')
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='https://img.icons8.com/doodle/48/000000/popcorn.png')
    title Dashboard
    body      
      .containerButtons 
        .titleDashboard
          h1 PANEL DE USUARIO
        .listButtonsDash
          .buttonBuscar
            a(href='/search')
              button.boton1(type='submit') Buscar
          .buttonFav
            a(href='/favMovies')
              button.boton1(type='submit') Favoritos
          .buttonSalir
            a(href='/logout')
              button.boton1(type='submit') Salir