
.titleAdmin{
  text-align: center;
  color: white;
}
.mainContainer{
  width:100%;
}
.containerAdmin{
  display: flex;
  flex-direction: column;
}
.containerText{
  color:white;
  margin-bottom: 5%;
}

.addDel>a>img{
  width: 50px;
  height: 50px;
}



@media screen and (min-width: 280px) {
  .Poster{
    width: 100%;
    height: 100%;
  }
  .favMovies{
    margin-bottom: 30%;
  }

}

@media screen and (min-width: 768px) {

  .divPoster{
    width: 30%;
  }

  .mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerAdmin{
    width: 50%;
  }

  .favMovies{
    display: flex;
    justify-content: space-evenly;
    background-color: #6096ba;
    margin-bottom:5%;
  }

  .menuP{
    position: relative;
      background-color: #274c77;
      height: 55px;
      width: 20px;
      padding-top: 0px;
      top: 0px;
      margin-right: 0px;
      padding-right: 0px;
      /* border-bottom: 1px solid white; */
  }
  .containerText > p{
    margin:0px;
  }

}
/* body{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
  }
   
   
  #filmContainer{
    width: 100%;
  -webkit-box-shadow: 1px -1px 50px -15px #fff; 
  box-shadow: 1px -1px 50px -15px #fff;
   
  }
  
  h1{
    margin-top: 5%;
    color: white;
    text-align: center;
  }
  
  
  #favMovies{
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
  }
  
  p{
    margin: 0;
    padding: 0;
  }
  
  #containerText{
    width: 50%;
    font-size: 0.7rem;
    padding-left: 2%;
    padding-bottom: 2%;
  }
  
  #Poster{
    width:40%;
    height: 100%;
    
  }
  
  
  
  
  h1{
    margin-top: 5%;
    color: white;
  }
  
  .iconsAdmin{
  
    width: 20%;
       
   } */