
.containerButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  height: 60vh;
 
}

.listButtonsDash{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.boton1{
  background-color: #6096ba; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 37px;
  width: 188px;
  border-radius: 2px;
}

.titleDashboard{
  color: white;
}

@media screen and (min-width: 768px) {
  .listButtonsDash {
    margin-top: 5%;
  }
}