
.favMovies{
  display: flex;
  margin-bottom: 10%;
  background-color: #48639c;
}



.favStar{
  padding-top:5px;
  padding-bottom: 5px;
  width: 30px;
  height: 30px;
}

.containerText{
  display: flex;
  flex-direction: column;
  width: 85vw;
  font-size: 15px;
  padding-left: 5px;
  color:white;
}

h2{
  margin:0px ;
}

.resultText >p{
  margin:0px;

}

.filmContainer{
  margin-top: 10%;
}

.titleFavP{
  text-align: center;
  color:white;
}

@media screen and (min-width: 280px) {
  .Poster{
    width: 100%;
    height: 100%;
  }

}

@media screen and (min-width: 768px) {
  .Poster{
    width: 100%;
    height: 100%;
  }

  .favMovies{
    margin-bottom: 5%;
    width: 50vw;
    
  }

  .menuP{
    position: relative;
      background-color: #274c77;
      height: 55px;
      width: 20px;
      padding-top: 0px;
      top: 0px;
      margin-right: 0px;
      padding-right: 0px;
      /* border-bottom: 1px solid white; */
      

  }

  .containerFavP{
    display: flex;

  }

  .containerFavA{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filmContainer{
    margin-top: 5%;
  }

}