
.appTitle, .access, .register {
  color: #020e3c;
}

#signUp{
  display: none;
}

#goToRegister, #goToLogin {
  cursor: pointer;
}

#login, #signUp{
  text-align: center;
  height: 200px;
}
.homeContainer {
  padding-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formLogin, #formSingUp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionAcss{
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-bottom: 20px;
}

input{
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #020e3c;
  margin-bottom: 13px;
} 

.boton1{
  background-color: #020e3c; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 37px;
  width: 188px;
  border-radius: 2px;
}
.googleLogin{
  margin-top: 15%;
}

::placeholder { color: #8b8c89;
}

@media screen and (min-width: 280px) {
  body{
    height: 100vh;
    background-image: url(../img/maskironman.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
   /*  background-size: cover; */
    backdrop-filter: blur(5px); 
  }
  input{
    color:#020e3c;
    border-bottom: 1px solid #020e3c;
  }

}

@media screen and (min-width: 768px) {
  body{
    
    background-image: url(../img/pngwing.com.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: cover; */
    backdrop-filter: blur(13px); 
  }
  .homeContainer {
    padding-top: 15%;
  }

  .appTitle, .access, .register {
    color: #020e3c;
  }

  input{
    color:#020e3c;
    border-bottom: 1px solid #020e3c;
  }
  .boton1{
    background-color: #020e3c; 
  }

}


 @media screen and (min-height: 1024px) {
  body{
    height: 100vh;
    background-image: url(../img/pngwing.com.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: cover; */
    backdrop-filter: blur(5px); 
  }
  .homeContainer {
    padding-top: 50%;
  }
}  