.titleDetailP{
  text-align: center;
  color: white;
}
.mainContainer{
  width:100%;
}
.containerDetails{
  display: flex;
  flex-direction: column;
}
.containerText{
  color:white;
  margin-bottom: 5%;
}

.divOpinions{
  color: white;
  text-align: left;
  margin-bottom: 20%;
}

@media screen and (min-width: 280px) {
  .Poster{
    width: 100%;
    height: 100%;
  }
  .favStar{
    width: 30px;
    height: 30px;
  }

}

@media screen and (min-width: 768px) {

  .Poster{
    width: 100%;
    height: 100%;
  }
  .mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerDetails{
    width: 50%;
  }

  .favMovies{
    display: flex;
    justify-content: space-evenly;
  }

  .menuP{
    position: relative;
      background-color: #274c77;
      height: 55px;
      width: 20px;
      padding-top: 0px;
      top: 0px;
      margin-right: 0px;
      padding-right: 0px;
      /* border-bottom: 1px solid white; */
  }

  .favStar{
    width: 30px;
    height: 30px;
  }
  .containerText > p{
    margin:0px;
  }

}